.home-container{
    width:60%;

}
.text-primary{
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.gold-btn{
    background-color: goldenrod;
}

.info{
    position: relative;
   bottom: 230px;
    left: 240px;
    height: 270px;
}
.health{
    position: relative;
    bottom: 230px;
    left: 260px;

}
.wealth{
    position: relative;
    bottom: 550px;
    right:  30px;
    height: 270px;

}
