<div class="container-fluid bg-primary text-white P-3">
    <div class="row">
        <span class="fs-4 fw-semibold" routerLink="/medicine-home"><i class="bi bi-arrow-left me-4"></i>TopDeals</span>
    </div>
</div>
<div class="container-fluid p-3 mb-2 bg-primary-subtle text-emphasis-primary">
    <div class="row">
        <div class="col-md-6 text-center "><span>Showing Medicine Availability and Price in &nbsp;<span
                    class="text-primary">
                    Bengaluru,560029

                </span></span></div>
    </div>
</div>
